body {
  font: 90% "Geo Sans Light", sans-serif;
  margin: 50px;
}

.floatright {
  float: right;
}

.floatleft {
  clear: both;
  float: left;
}

.gofloat {
  clear: both;
  float: left;
}

.headers {
  margin-top: 2em;
}

#dialog-link {
  padding: .4em 1em .4em 20px;
  text-decoration: none;
  position: relative;
}

#dialog-link span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
}

#icons {
  margin: 0;
  padding: 0;
}

#icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}
#icons span.ui-icon {
  float: left;
  margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
  position: absolute;
}

.fields label, .fields input {
  display:inline-block;
}

.fields label {
  width:300px; /* or whatever size you want them */
}

.fields input[type="text"]{
  background:url("../images/text-input-bg.png") repeat-x scroll left top;
  border:1px solid #d9d6c4;
  font-family:Georgia,Times,"Times New Roman",serif;
  font-size:28px; /* This probably makes it "fat" as you want */
  width:200px;
  font:13px 'monospace',Helvetica,Arial,sans-serif;
  margin:0;
  outline:0 none;
  padding:3px;
}

a {
  color: #413839;
}

.section-break {
  height: 20px;
  display: inline-block;
  width: 100%
}

.test-entry {
  display:inline-block;
}
.labels-box {
  display: block;
  float: right;
  width:300px;
}
.legend-box {
  background-color:#fff;
  padding:2px 8px 2px 2px;
  margin-bottom:8px;
  border-radius: 3px 3px 3px 3px;
  border:1px solid #E6E6E6;
  display:inline-block;
  margin:0 10px;
  float:left;
}

.dygraph-wrapper {
  width:600px;
  height:300px;
  display:block;
  float: left
}

.dygraph-labels {
  font-size: 11px;
  padding:2px 8px 2px 2px;
  margin-bottom:8px;
  display:inline-block;
  margin:0 10px;
  max-width: 300px;
  float:left;
}

.chart-entry {
  margin: 4px 0;
}

.chart-info {
  display:block;
  float:left;
}

.chart-box {
  border-style:solid;
  border-width:1px;
  width:16px;
  height:10px;
  margin:3px 0 3px 4px;
  background-color:white;
}
