body {
  font: 90% "Geo Sans Light", sans-serif;
  margin: 50px;
  padding-top: 70px;
}

.floatright {
  float: right;
}

.floatleft {
  clear: both;
  float: left;
}

.gofloat {
  clear: both;
  float: left;
}

.headers {
  margin-top: 2em;
}

#dialog-link {
  padding: .4em 1em .4em 20px;
  text-decoration: none;
  position: relative;
}

#dialog-link span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
}

#icons {
  margin: 0;
  padding: 0;
}

#icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}

#icons span.ui-icon {
  float: left;
  margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
  position: absolute;
}

.fields label, .fields input {
  display: inline-block;
}

.fields label {
  width: 300px; /* or whatever size you want them */
}

.fields input[type="text"] {
  background: url("../images/text-input-bg.png") repeat-x scroll left top;
  border: 1px solid #d9d6c4;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 28px; /* This probably makes it "fat" as you want */
  width: 200px;
  font: 13px 'monospace', Helvetica, Arial, sans-serif;
  margin: 0;
  outline: 0 none;
  padding: 3px;
}

a {
  color: #413839;
}

.section-break {
  height: 20px;
  display: inline-block;
  width: 100%
}

.test-entry {
  display: inline-block;
}

.labels-box {
  display: block;
  float: right;
  width: 300px;
}

.legend-box {
  background-color: #fff;
  padding: 2px 8px 2px 2px;
  margin-bottom: 8px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #E6E6E6;
  display: inline-block;
  margin: 0 10px;
  float: left;
}

.dygraph-wrapper {
  width: 600px;
  height: 300px;
  display: block;
  float: left
}

.dygraph-labels {
  font-size: 11px;
  padding: 2px 8px 2px 2px;
  margin-bottom: 8px;
  display: inline-block;
  margin: 0 10px;
  max-width: 300px;
  float: left;
}

.chart-entry {
  margin: 4px 0;
}

.chart-info {
  display: block;
  float: left;
}

.chart-box {
  border-style: solid;
  border-width: 1px;
  width: 16px;
  height: 10px;
  margin: 3px 0 3px 4px;
  background-color: white;
}

.navbar {
  margin-bottom: 20px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}