body {
  font: 90% "Geo Sans Light", sans-serif;
  margin: 50px;
}

.divider {
  float: right;
  margin: 0 4px;
}

.headers {
  margin-top: 2em;
}

#dialog-link {
  padding: .4em 1em .4em 20px;
  text-decoration: none;
  position: relative;
}
#dialog-link span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
}
#icons {
  margin: 0;
  padding: 0;
}

#icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}
#icons span.ui-icon {
  float: left;
  margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
  position: absolute;
}
.fields label, .fields input {
  display:inline-block;
}
.fields label {
  width:300px; /* or whatever size you want them */
}
.fields input[type="text"]{
  background:url("../images/text-input-bg.png") repeat-x scroll left top;
  border:1px solid #d9d6c4;
  font-family:Georgia,Times,"Times New Roman",serif;
  font-size:28px; /* This probably makes it "fat" as you want */
  width:200px;
  font:13px 'monospace',Helvetica,Arial,sans-serif;
  margin:0;
  outline:0 none;
  padding:3px;
}

